html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
  /*   border: solid; */
}

body {
  display: grid;
}

.main-container {
  justify-self: center;
  overflow: hidden; /* Hide scrollbars */
  /*   align-self: center; */
}

canvas {
  display: block;
}

#msg {
  width: 70%;
  height:20px;
  padding: 5px;
  border-radius: 10px;
  outline: none;

}
/*
#submit {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  background: grey;
  color: white;
  
}*/
.button {
  float:right;
  padding: 5px;
  background-color: #4CAF50; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;  
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right:10px
}
.Voicebutton{
  width: 80px;
  height: 80px;
  position: relative;
  /*top: 50%;*/
  left: 45%;
  transform: translate(-50%, -50%);

}


.input-box {
  min-width: 526px;
  max-width: 700px;
  width: 80%;
  height: 40px;
  border-color: #ccc;
  background-color: #ffffff;
  border-radius: 20px !important;
  border: 1px solid #dedede;
 
  
}

.screen {
  width: 95%;
  height: 80%;
  overflow: auto;
  padding: 10px;
  /*   border: solid; */
  border-radius: 20px;
  min-width: 526px;
  max-width: 700px;
  background: white;
}

.shadow {
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chat_imgR {
  float: right;
  width: 11%;
}
.chat_imgL {
  float: left;
  width: 11%;
}

.content {
  /*  width: 100%;
  height: 100%; */
  /*   display: flex;
  justify-content: center; */
}

.container {
  width: 60%;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  
}

.right-txt {
    text-align:right;
}
.left-txt {
    text-align:left;
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 20px;
}
.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 20px;
}
.user {
  /*float: right;*/
  border-color: #ccc;
  background-color: #ffffff;
  padding-left: 30px;
  margin-left: 20%;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #AFF;
  font-size: 10px;
  padding-right: 15px;
}

.time-left {
  float: left;
  color: #AFF;
  font-size: 10px;
  padding-right: 15px;
}